body {
    background-color: rgb(255, 233, 172);
    margin: 0;
    padding: 0;
}

.banner-superior {
    width: 100%;
    line-height: 0; /* Elimina espacio extra debajo de la imagen */
}

.banner-superior img {
    width: 100%;
    height: auto; 
    display: block;
}

#blogs article{
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}


#blogs article h2 { /* Elimina espacio antes del h2 */
    margin-top: 0;
    margin-bottom: 0;
}

#blogs article p { /* Elimina espacio antes del h2 */
    margin-top: 0;
}



main {
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

main h3 {
    
    margin-left: 2%;
    margin-bottom: 0;
}

#seccion-izquierda {
    width: 80%;
}

#seccion-derecha {
    display: flex;
    flex-direction: column;  
    gap: 25px;  
    width: 20%;
    align-items: center;
}

#seccion-derecha a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}

#seccion-derecha .primer-link {
    margin-top: 10%;
}

footer {
    background-color: rgb(0, 0, 0);
    
    text-align: center;
    padding: 10px 0;      /* Controla el espacio del footer con padding */
}

footer p {
    color: white;
}



